#foot{
  display: inline;
}
.my_ButtonName
{
  float: right;
  margin: 15px 20px 15px auto;
}
#pit{
  margin-bottom: 30px;
}
#timer{
  float: left;
  margin: 15px auto 15px 20px;
  color: #bbbbbb;
}
.card-text{
  color: #727272;
}
#root{
  margin: 15px;
}
body {
  background-image: url(back.jpg);
}
.card{
  margin-top: 25px;
}
.mr-auto{
  margin-left: auto!important;
  margin-right: 0!important;
}
.nav-item{
  margin-left: 10px;
}
.btn-light:hover{
  color: #fff;
}
#add1, #add2, #add3 {
  margin-top: .4rem;
  margin-left: 1rem;
}